<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />

    {% block stylesheets %}
        {% do assets.add('theme://css/pure-0.5.0/grids-min.css',103) %}
        {% do assets.add('theme://css-compiled/nucleus.css',102) %}
        {% do assets.add('theme://css-compiled/template.css',101) %}
        {% do assets.add('theme://css/font-awesome.min.css',100) %}
        {% do assets.add('theme://css/slidebars.min.css') %}

        {% if page.header.lightbox %}
            {% do assets.add('theme://css/featherlight.min.css') %}
        {% endif %}

        {% if browser.getBrowser == 'msie' and browser.getVersion == 10 %}
            {% do assets.addCss('theme://css/nucleus-ie10.css') %}
        {% endif %}

        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.add('theme://css/nucleus-ie9.css',99) %}
            {% do assets.add('theme://js/html5shiv-printshiv.min.js',99) %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.add('jquery',101) %}
        {% do assets.add('theme://js/modernizr.custom.71422.js',100) %}
        {% do assets.add('theme://js/slidebars.min.js') %}

        {% if page.header.lightbox %}
            {% do assets.add('theme://js/featherlight.min.js') %}
        {% endif %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">
    <div id="sb-site">
        {% block header %}
        <header id="header">
                <div class="logo-surround">
                    <a href="{{ base_url == '' ? '/' : base_url }}" id="logo"></a>
                    <!--<span class="logo-accent"></span>-->
                </div>
                <div id="navbar">
                    {% block header_extra %}{% endblock %}
                    {% if config.plugins.langswitcher.enabled %}
                    {% include 'partials/langswitcher.html.twig' %}
                    {% endif %}
                    {% block header_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                    {% endblock %}
                    <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
                    <center><a href="../personal"><b>« Back to Personal Web</b></a></center>
                </div>
        </header>
        {% endblock %}
        {% block body %}
        <section id="body">
            {% block sidebar %}{% endblock %}
            {% block content %}{% endblock %}
        </section>
        {% endblock %}

        {% block footer %}
        <footer id="footer">
            <p><a href="#">YudhaAkbar's Blog</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="#">FadilHore Team</a>.</p>
        </footer>
        {% endblock %}
    </div>
    <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
        {% include 'partials/navigation.html.twig' %}
        </div>
    </div>
    {% block bottom %}
    <script>
    $(function () {
        $(document).ready(function() {
          $.slidebars({
            hideControlClasses: true,
            scrollLock: true
          });
        });
        {% if page.header.lightbox %}
        $('a[rel="lightbox"]').featherlight();
        {% endif %}
    });
    </script>
    {% endblock %}
</body>
</html>
